.env
.env.*
*.env
.DS_Store
.vscode/
*.swp
Thumbs.db
Desktop.ini
node_modules/
dist/
npm-debug.log*
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
terraform/.terraform/*
terraform/.terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
crash.log
crash.*.log
*.log
*.plan
.terraform.lock.hcl